
/* MAIN LAYOUT OF THE PAGE */
body{
    font-family: sans-serif;
    margin: 0;
}

.wrapper{
    display: flex;
}

.left{
 width: 40%;
 padding: 5px;
 
}

.right{
 width: 70%;
 padding: 20px;
}

.single-content{
    position: relative;
    transition: .3s;

    /* box-shadow: 10px 20px 20px rgba(0,0,0,0.8); */
}

.single-content .text-content,
.single-content:after {
    position: absolute;
    left:20px;
    right:20px;
}

.single-content:after{
    content: '';
    display: block;
    background: rgba(172, 172, 172, 0.562);
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1,1,0,100deg);
    transition: 0.4s;
}

.single-content:hover:after{
    opacity: .9;
    transform: rotate3d(0,0,0,0deg);
}

.single-content img{
    width: 100%;
    height: auto;

}


.text-content {
    top: 45%;
    opacity:0;
    z-index: 1;
    transform: translate(10%, -30%);
    transition: .3s;
    text-align: center;
    color: #fff;

}

.card-frame {
    box-shadow: 5px 10px 15px rgba(0,0,0,0.4);

}


.card-frame:hover{
    transition: .5s;

    box-shadow: 10px 20px 20px rgba(0,0,0,0.9);

}

.single-content:hover .text-content{
    opacity: 1;
    transform: translate(0, -10%); 
    
}


.text-content h5 {
    font-family: big john;

}

#card-title{
    font-size: 64px;
    width: 50%;
    margin-left: 25%;
    color: rgb(255, 255, 255);
    background-color: black;
}

.text-content:hover{
    /* opacity: 1;
    transform: translate(0, -10%); */
    
}


@media only screen and (max-width: 640px) {
    .wrapper{
        display: block;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }
    
}

@media only screen and (max-width: 720px){
    

}

.fade-in {
   
}



