.fade{
    -webkit-animation: 3s fade;
    animation: 3s fade;
}


@-webkit-keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1;}
}


@keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1;}
}