
#first-container{
    background-color: red;
    width: 40%;
    height: 1000px;
    float:left;
}

#second-container{
    background-color: green;
    width: 60%;
    height: 1000px;
    float:right;
}

header{
    height: 150px;
    border-radius: 1%;
    text-align: center;
    background-color: black;
}

#title{
    position: absolute;
}

html, body {
    margin: 0%;
    width: 100%;

}

#text-header {
    position:fixed;
    z-index: 2;
    width: 100%;
    background-color: black;
    padding: 1% 0 0 0;
    font-size: 78px;
    color: white;
}



#text-container-01{
    position: absolute;
    margin: 5% 0 0 5%;
    text-align: center;
    padding: 10px 10px;
    background-color: blue;
    width: 40%;
    height: 30%;
}

#contact-container{
    position: absolute;
    margin: 30% 0 0 5%;
    width: 30%;
    height: 21%;
    background-color: lightblue;
}

.contact-elements{
    position: absolute;
    border-radius: 14%;
    width: 48%;
    height: 94%;
    font-size: 24px;
    text-align: center;
    background-color: rgb(1, 65, 86);
}

#contact-1{
    margin: 1%;
}

#contact-2{
    margin: 1% 0 0 51%;
}

#projects-containers{
    position: absolute;
    margin: 25% 0 0 5%;
    width: 41%;
    height: 20%;
    background-color: lightblue;
}

.project-elements{
    position: absolute;
    border-radius: 14%;
    width: 30%;
    height: 92%;
    font-size: 24px;
    text-align: center;
    background-color: rgb(1, 65, 86);
}



#project-1{
    margin: 1%;
}

#project-2{
    margin: 1% 0 0 35%;
}

#project-3{
    margin: 1% 0 0 69%;
}

h4 {
    text-align: center;
    padding-top: 30px;
}


a:link { 
    text-decoration: none;
    color: black;
 }


a:visited { text-decoration: none;
    color: black; }


a:hover { text-decoration: none; 
    color: black;}


a:active { text-decoration: none;
    color: black; }

